<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Contest Applications List')" />
<body>
<div th:replace="fragments/menu :: menu(${path})" />
<div th:fragment="submissionsList(submissions,isAllowed)" xmlns:th="http://www.thymeleaf.org">
    <h3>Submissions List</h3>
    <form method="post">
    <table class="table table-striped">
        <thead>
            <th th:text="#{lbl.Place}">Place</th>
            <th></th>
            <th th:text="#{lbl.songTitle}">Song Title</th>
            <th th:text="#{lbl.remixer}">Remixer</th>
            <th th:text="#{lbl.genre}">Genre</th>
            <th th:text="#{lbl.key}">Key</th>
            <th th:text="#{lbl.BPM}">BPM</th>
            <th th:if="${isAllowed}"></th>
        </thead>
        <tbody>
            <tr th:each="row, rowStat : ${submissions}">
                <td th:if="${row.placeInContest != null}"
                    th:text="${row.placeInContest}">
                </td>
                <td th:if="${row.placeInContest == null}">
                    --
                </td>
                <td>
                    <audio controls controlsList="nodownload">
                        <source th:src="@{'/uploads/' + ${row.audioFileUrl}}">
<!--                        <source th:src="@{'/uploads/' + ${row.audioFileUrl}}" type="audio/mpeg">-->
<!--                        <source th:src="@{'/uploads/' + ${row.audioFileUrl}}" type="audio/wav">-->
                    </audio>
                </td>
                <td>
                    <a th:text="${row.title}" th:href="@{|/submissions/${row.id}|}">Go to submission</a>
                </td>
                <td>
                    <a th:text="${row.owner.artistName}"
                       th:href="@{|/profile/${row.owner.id}|}"></a>
                </td>
                <td th:text="${row.genre}"></td>
                <td th:text="${row.tonality}"></td>
                <td th:text="${row.tempo}"></td>
                <td th:if="${isAllowed}">
                    <button type="submit" class="btn btn-success" name="delete" th:value="${row.id}">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="#" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/foot :: foot" />
</body>
</html>
