<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Contests')" />
<body>
<div th:replace="fragments/menu :: menu(${path})" />
<div th:fragment="contestsList(contests, header)" xmlns:th="http://www.thymeleaf.org">
    <h3 th:text="${header}">Contests</h3>
    <table class="table table-striped">
        <thead>
            <th th:text="#{lbl.owner}">Owner</th>
            <th th:text="#{lbl.songLink}">Song Link</th>
            <th></th>
            <th th:text="#{lbl.status}">Status</th>
        </thead>
        <tbody>
            <tr th:each="row, rowStat : ${contests}">
                <td>
                    <a th:text="${row.owner.artistName}" th:href="@{|/profile/${row.owner.id}|}">Go to user</a>
                </td>
                <td>
                    <a th:href="@{|${row.contestApplication.songLink}|}">Song Link</a>
                </td>
                <td>
                    <a th:href="@{|/contests/${row.id}|}">View Contest</a>
                </td>
                <td th:text="${row.status}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/foot :: foot" />
</body>
</html>
